@tailwind base;
@tailwind components;
@tailwind utilities;

.marker-green {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(../public/green.png);
}
.marker-yellow {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(../public/yellow.png);
}
.marker-red {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(../public/red.png);
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", sans-serif;
  padding: 0;
  width: 180px;
}
.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/* iPhone 11 Pro / X - 1 */

/* iPhone {
  position: relative;
  width: 375px;
  height: 812px;

  background: #b7faa0;
}

img {
  max-width: 100%;
  display: block;
} */
